section{
    margin: 5% 5%;
}
.card {
    position: absolute; /* Position relative to contain the absolute element */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .card img {
        width: 100%;
        height: auto;
        display: block;
    }

.card-text {
    padding: 15px;
    background-color: #f9f9f9;
}

    .card-text h3 {
        margin-top: 0;
    }

    .card-text p {
        margin-bottom: 15px;
    }

    .card-text button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .card-text button:hover {
            background-color: #0056b3;
        }
        .card-content{
            display:block;
            margin-left:5%;
            margin-top: 2%;
        }

#price {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 40px; /* Height of the green box */
    background-color: #ddd;
    margin: 5% 25% 5% 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cost {
    border-radius: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 40px; /* Height of the green box */
    background-color: green;
    margin: 5% 25% 5% 60%;
    display: flex;
    justify-content: space-between; /* Spacing between elements, icon goes to the right */
    align-items: center;
}
.cost {/* Vertically center items */
    /* Additional styling for the .cost div */
}

    .cost p {
        flex-grow: 1; /* Allow the <p> element to grow and fill available space */
        text-align: center; /* Center the text horizontally */
        /* Additional styling for the <p> element */
        color: #ddd;
        margin-left:25%;
    }

    .cost i {
        font-size: 1.2em; /* Adjust the size of the Font Awesome icon */
        color: #ddd; /* Customize the color of the icon */
        /* Additional styling for the <i> element */
        margin-right: 16%;
    }
.custom-dropdown {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff; /* Dropdown background color */
    border: 1px solid #ccc; /* Dropdown border */
    border-radius: 4px; /* Rounded corners */
    padding: 8px 12px; /* Padding inside the dropdown */
    font-size: 14px; /* Font size */
    color: #333; /* Text color */
    cursor: pointer; /* Show pointer cursor on hover */
}
.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff0000; /* Red color for the delete icon */
    cursor: pointer;
    z-index: 1; /* Ensures the icon appears above other content */
}
