* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the navbar */
.navbar {
    background-color: #333; /* Change as needed */
    display: flex;
    justify-content: center; /* Align items horizontally to center */
    padding: 10px; /* Adjust padding as needed */
}

/* Style for the navbar items */
.navbar-item {
    margin-right: 150px; /* Adjust spacing between items as needed */
    color: #fff; /* Change text color as needed */
    text-decoration: none;
    align-content: center;
}
.navbar-logo {
    margin-right: auto; /* Push the logo to the left */
    color: #fff; /* Change text color as needed */
    text-decoration: none;
}
.fa-1x{
    padding:5px;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar-item {
    padding: 0px 20px;
    color: #fff; /* Change text color as needed */
    margin: 20px 0px;
    text-decoration: none;
    align-content: center;
}

.close-btn{
    color: white;
    margin: 10px 10px;
}
.menu-bars {
    margin-right: 20px; /* Adjust spacing between items as needed */
    color: #fff; /* Change text color as needed */
    text-decoration: none;
    display: none;
}
/*Default styling based on screen size*/
@media(max-width: 800px) {
    .navbar-item{
        display: none;
    }
    .menu-bars{
        display:flex;
    }
}

.navbar a:hover {
    transform: scale(1.1); /* Enlarge text on hover */
    color: lightgoldenrodyellow; /* Change color on hover */
}



/*styling for logo*/
#logo {
    height: 40px; /* Adjust the height to fit your design */
    width: auto; /* This ensures the logo maintains its aspect ratio */
    margin-right: 0; /* Adjusts the space between the logo and the nav */
    margin-left: 30px;
}

@keyframes spinOnce {
    100% {
        transform: rotate(360deg); /* Rotate the logo by 360 degrees */
    }
}

#logo:hover {
    animation: spinOnce 1s linear; /* Apply spinOnce animation on hover */
}

.hero {
    position: static;/*donot change it to relative or absolute We will not be able to see the dropdown*/
    height: 400px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-bg {
    position: static; /*donot change it to relative or absolute We will not be able to see the dropdown*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*CSS fr Hero Section*/
.hero-content {
    position: relative; /* Ensure content stays above the video */
    text-align: center;
    color: white; /* Text color on top of the video */
}

.company-name {
    font-size: 500%; /* Adjust font size as needed */
    margin-bottom: 10px; /* Adjust spacing between company name and tagline */
}

.tagline {
    font-size: 100%; /* Adjust font size as needed */
}