.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.packages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    max-width: auto;
    margin: 20px;
}

.package {
    position: relative;
    display: inline-block;
    width: calc(30% - 40px);
    margin: 0 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    height: 400px;
}

    .package img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .package .image-text {
        position: absolute;
        bottom: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px 10px;
        border-radius: 5px;
    }

    .package:hover {
        transform: scale(1.05);
    }

        .package:hover .image-text {
            opacity: 1;
            transform: translateY(0);
        }
